.layout {
    border-radius: 8px;
   overflow: hidden;
    margin: 0 auto;
    max-width: calc(80% - 8px);
    width: 100%;
    height: calc(100vh - 16px);
}

.content  {
    overflow: auto;
}

.footer  {
    background-color: #001529;
    color: #fff;
    z-index: 1;
}